<!doctype html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
"__%__css/layout.css__%__"
</style>

<style>
"__%__css/sidebar.css__%__"
</style>

<style>
"__%__css/modal.css__%__"
</style>

<style>
"__%__css/map-icons.css__%__"
</style>

<style>
"__%__css/tile-icons.css__%__"
</style>

<style>
"__%__css/button-icons.css__%__"
</style>

<style>
"__%__css/misc.css__%__"
</style>

<title>Table Top Tapper</title>
</head>

<body class="body">
"__%__html/body.html__%__"
</body>

<script>
"__%__js/ui/touch_drag.js__%__"
</script>

"__%__html/modal/roll.html__%__"

"__%__html/modal/edit_input.html__%__"

"__%__html/modal/edit_text_area.html__%__"

"__%__html/modal/select_multi.html__%__"

"__%__html/modal/text_input.html__%__"

"__%__html/sidebar/data.html__%__"

"__%__html/sidebar/load.html__%__"

<script>
"__%__data/data_sets/game_data/game_v_1.js__%__"
</script>

<script>
"__%__data/data_sets/save_data/save_v_1.js__%__"
</script>

<script>
"__%__data/data_sets/rule_data/rules_v_1.js__%__"
</script>

<script>
"__%__js/game_engine/utilities/logger.js__%__"
</script>

<script>
"__%__js/game_engine/memory/storage.js__%__"
</script>

<script>
"__%__js/game_engine/memory/profile.js__%__"
</script>

<script>
"__%__js/game_engine/operations/vector.js__%__"
</script>

<script>
"__%__js/game_engine/operations/input.js__%__"
</script>

<script>
"__%__js/game_engine/memory/io.js__%__"
</script>

<script>
"__%__js/game_engine/memory/heap.js__%__"
</script>

<script>
"__%__js/game_engine/operations/operations.js__%__"
</script>

<script>
"__%__js/game_engine/stack/stack.js__%__"
</script>

<script>
"__%__js/game_engine/stack/process.js__%__"
</script>

<script>
"__%__js/game_engine/stack/rule.js__%__"
</script>

<script>
"__%__js/game_engine/stack/step.js__%__"
</script>

<script>
"__%__js/game_engine/events/publisher.js__%__"
</script>

<script>
"__%__js/game_engine/events/context.js__%__"
</script>

<script>
"__%__js/game_engine/events/audience.js__%__"
</script>

<script>
"__%__js/game_engine/events/listener.js__%__"
</script>

<script>
"__%__js/game_engine/game_loop.js__%__"
</script>

<script>
"__%__js/ui/html_factory.js__%__"
</script>

<script>
"__%__js/ui/renderjson.js__%__"
</script>

<script>
"__%__js/ui/sidebar.js__%__"
</script>

<script>
"__%__js/ui/modal.js__%__"
</script>

<script>
"__%__js/ui/map_controller.js__%__"
</script>

<script>
"__%__js/ui/full_screen.js__%__"
</script>

<script>
"__%__js/entry_point.js__%__"
</script>
</html>